<volume type='block'>
  <name>sdb1</name>
  <allocation>220</allocation>
  <capacity unit="G">220</capacity>
  <target>
    <permissions>
      <mode>0777</mode>
      <owner>64055</owner>
      <group>109</group>
    </permissions>
  </target>
</volume>